@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, button, h2, h2, a{
    font-family: var(--titulo);
}

p{
    font-family: var(--texto);
}

:root {
    --azul-frei: #264C90;
    --amarelo: #F5BA53;
    --linear-azulescuro: #0B162A;
    --linear-azulmedio: #19315D;
    --linear-azulclaro: #264C90;
    --amarelo-contato:  #FFDC84;
    --amarelo-contato: #FFB700;

    --titulo: 'Libre Franklin', 'Arial';
    --texto: 'Special Gothic', 'Arial';
}


html {
    font-size: 10px;
    zoom: 0.8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    background-color: var(--azul-frei);
    padding: 10px 2.6em;
}

nav {
    display: flex;
    gap: 5em;  /* AONDE ESTÁ OS LINKS!!! */
}

nav a {
    color: #EABC32;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items:center; 
    font-size: 2.9em;
    text-shadow: 2px 2px 5px black;
    font-family: var(--texto);
    transition: transform 0.5s ease, color 0.3s ease;
}

.logo-inicio {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 29%;
    height: auto;
}

.logo-inicio h1 {
    font-size: 3em;
    font-family: var(--titulo);
    text-shadow: 0px 4px 4px black;
}

nav a:hover {
    color: white;
    transform: scale(1.02);
}


/* WELCOME */

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7em 2em 5em 2em;
    width: 100%;
}
#proximo, #anterior {

    color: var(--linear-azulescuro);
    border: none;
    outline: none;
    background-color: white;
    border-radius: 10px;
    font-size: 5em;
    cursor: pointer;
    transition: color 0.2s ease;
}

#proximo:hover, #anterior:hover {
    color: #F5BA53;
}

.welcome-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    border-radius: 17px;
    background-image: linear-gradient(135deg, #264C90 50%, #19315D 81%, #0B162A 100%);
}

.welcome-img {
    width: 50%;
    height: 100%;
}

.welcome-img img {
    display: block;
    margin: auto;
    width: 100%;
}

.welcome-text {
    flex: 1;
    height: 49.8em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.welcome-text h2 {
    font-size: 4.5em;
    font-family: var(--titulo);
    color: var(--amarelo);
}

.text-welcome p {
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-family: var(--texto);
}

.destaque {
    color: var(--amarelo);
    font-family: var(--texto);
    font-size: 3.7em;
}

.arrow {
    font-size: 2em;
}

.primeiro {
    display: flex;
}

.segundo, .terceiro {
    display: none;
}

.segundo .welcome-text h2 {
    font-size: 3.9em;
    text-align: center;
}

.terceiro .welcome-text p {
    font-size: 3.8em;
}

.terceiro .welcome-text h2 {
    font-size: 3.5em;
    text-align: center;
}

.segundo .welcome-text {
    justify-content: center;
    gap: 4.5em;
    width: 50%;
}

.terceiro .welcome-text {
    justify-content: center;
    gap: 5em;
    width: 50%;
}

.segundo button {
    border: 1px solid #EABC32;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: var(--texto);
    font-size: 3em;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.terceiro button {
    border: 1px solid #EABC32;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: var(--texto);
    font-size: 3.5em;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.segundo button:hover, .terceiro button:hover {
    background-color: #EABC32;
    color: #264C90;
}

.segundo p {
    font-size: 3.6em;
}

.segundo .welcome-img, .terceiro .welcome-img {
    width: 50%;
    padding: 0px;
    height: 100;
}

.segundo .welcome-container, .terceiro .welcome-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    border-radius: 17px;
    background-image: linear-gradient(135deg, #264C90 50%, #19315D 81%, #0B162A 100%);
}

.segundo .welcome-img img, .terceiro .welcome-img img{
    width: 100%;
    height: auto;
    border-radius: 10px 0px 0px 10px;
}

/* HISTORY */

.history {
    display: flex;
    background-image: linear-gradient(to left, #0B162A 0%, #19315D 0%, #264C90 49%, #19315D 100%, #0B162A 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0px;
    width: 100%;
}

.history h2 {
    font-size: 5em;
    font-family: var(--titulo);
    color: var(--amarelo);
    padding-bottom: 0.6em;
    text-shadow: 4px 4px 10px black;
}

.data {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2em;
    position: relative;
}

.mid img {
    width: 16em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dataUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.cardData {
    display: flex;
    align-items: center;
    width: 66em;
    height: auto;
    gap: 10px;
}

.cardData:nth-child(2), .cardData:nth-child(4){
    justify-content: flex-end;
}

.cardText {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    gap: 10px;
}

.cardText p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center;
}

p.dado  {
    font-size: 5em;
}

.cardData img {
    width: 14em;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.cardImg {
    height: auto;
}

.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40em;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* COURSES */
.titulocurso h1{
    display: flex;
    justify-content: center;
    font-size: 6em;
    color: var(--amarelo);
    text-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1em;
    text-shadow: 4px 4px 5px black;
}

.courses{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
    gap: 15em;
}

.courses h1{
    font-size: 3em;
    font-family: var(--texto);
}

.card{
    background: linear-gradient(to left, #264C90, #122444);
    height: 70em;
    width: 50em;
    border-radius: 20px;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

hr {
    width: 50em;
    background-color: #EABC32;
}

.cursos {
    height: 50%;
    width: 100%;
}

.cursos img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.textos{
    margin-top: 15px;
    padding-left: 10px;
}

.textos h2{
    font-size: 4em;
    color: white;
}

.textos p{
    font-size: 2.3em;
    line-height: 1.8;
    width: 100%;
    color: white;
    margin-top: 20px;
}

.parteum{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8em;
}

.horizontalLine hr {
    width: 1px;
    height: 145em;
}

.partedois{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8em;
}

/* GALLERY */
.cont1{
    padding: 25px;
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 0px 0px  10px 90px;
    gap: 50px;
    margin-top: 10px;
}

.cont2{
    padding: 25px;
    display: flex;
    height: auto;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    gap: 50px;
    margin: 0px 90px 10px 0px;
}

.hori{
    height: 5px;
    width: 500px;
    margin: auto;
    background-color: #F5BA53;
    border: none;
    
}

.verti{
    height: 108em;
    width: 5px;
    background-color: #F5BA53;
    border: none;
    margin: auto;
}

.gallery-content h1 {
    font-size: 7em;
    text-align: center;
    padding: 0.7em 0em 0em 0em;
    color: #FFB700;
    text-shadow: 4px 4px 10px black;
}

.ft img {
    height: 280px;
    width: 490px;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vemFrei {
    background-image: url(img/vemProFrei.png);
    width: 100%;    
    margin-top: 6em;
    height: 15em;
    background-size: cover;
    background-position: center center; 
}

/* FUNDADOR */

.fundador{
    display: flex;
    justify-content: center;
    margin-right: 20px;  
}

.conteinerdofundador{
    background-color: var(--azul-frei);
    width: 90%;
    height:75rem ;
    border-radius: 1em;
    padding: 2em;
    margin-right: 20px;
    margin: auto;
}

.nossofundador{
    color: var(--amarelo);
    text-shadow: 4px 4px 6px black;
    font-size: 5rem;
    text-align: center;
}

.freiBebe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}

.freiBebe p {
    font-size: 3em;
    color: white;
    line-height: 1.2;
    gap: 4em;
}

.imgdofrei{
    width:30em;
    height: 30em;
    margin-top: 4em; 
    border-radius: 10px;
}

.freicachorrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.freicachorrinho p{
    font-size: 3.3em;
    color: white;
    line-height: 1.2;
}

.imgdofreidog{
   width:30em;
   height: 30em ;  
   border-radius: 10px;
}

/* COMMENTS */
.comments{
    margin-top: 100px;
}

.comments h1{
    justify-content: center;
    font-size: 8em;
    text-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--amarelo);
    display: flex;
    margin-left: 10px;
}

.comments p{
    font-size: 3em;
    float: left;
    margin-left: 330px;
    margin-top: -110px;
    color: #13397C;
    font-weight: bold;
    width: 74%;
    text-align: justify;
}

.bruno img{
    padding-left: 30px;
    margin-top: 10px;
}

.comments hr{
    width: 1575px;
    height: 0.5vh;
    border: none;
    margin-top: 30px;
}

.testo p{
    margin-left: 330px;
    margin-top: -347px;
    color: #122444;
 }



/* FOOTER */
footer{
    margin-top: 50px;
    background: radial-gradient(#FFDC84,#FFB700);
    height: 60em;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 29%;
    height: auto;
    padding: 20px 0px 20px 0px;
}

.logo h1 {
    font-size: 3em;
    font-family: var(--titulo);
    text-shadow: 0px 4px 4px black;
    color: white;
}

i{
   font-size: 5em;
}

.fota i {
    margin-top: 0.3em;
    margin-left: 0.4em;
}

.contatos, .ali{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 4em;
    gap: 15px;
}

.fotinha h1{
    font-size: 3em;
    text-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
}

.contatos p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 2em;
    color: #19315D;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.pedidos p{
    color: #19315D;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-top: 10px;
    width: 40em;
    margin-left: 19px;
}

.pedidos h1{
    font-size: 3em;
    text-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    margin-left: 20px;
}

.endereco h1{
    margin-top: 10px;
     font-size: 3em;
    text-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    margin-left: 20px;
}

.endereco p{
    color: #19315D;
    display: flex;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-top: 10px;
}

.parceiros h1{
    margin-top: 10px;
    font-size: 3em;
    text-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
}

.textCont p {
    width: 20em;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSide, .rightSide {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    height: 40em;
}

.patrocinios {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.patrocinio {
    width: 13em;
    padding: 10px;
    height: 8em;
    background-color: white;
    border-radius: 10px;
}